debug/
target/
**/*.rs.bk
*.pdb
my_database.db
marty_05_sqlite.db
cgi-bin/marty-01-basic
cgi-bin/marty-02-routing
cgi-bin/marty-03-session
cgi-bin/marty-04-cookies
cgi-bin/marty-05-sqlite
examples/01_basic/cgi-bin/
examples/01_basic/.htaccess
examples/01_basic/dist.htaccess
examples/02_routing/cgi-bin/
examples/02_routing/.htaccess
examples/02_routing/dist.htaccess
examples/03_session/cgi-bin/
examples/03_session/.htaccess
examples/03_session/dist.htaccess
examples/04_cookies/cgi-bin/
examples/04_cookies/.htaccess
examples/04_cookies/dist.htaccess
examples/05_sqlite/cgi-bin/
examples/05_sqlite/.htaccess
examples/05_sqlite/dist.htaccess
examples/01_basic/.DS_Store
.DS_Store
cgi-bin/example-01-basic
benchmarks/simple/cgi-bin/
benchmarks/complex/cgi-bin/
